{% extends 'lbs_app/base.html' %}

{% load leaflet_tags %}

{% block title %}Map{% endblock %}

{% block content %}
    <script>
        var HOST = location.protocol + "//" + location.host;
        var locationMarker;
        var circle;

        function map_init_basic(map) {
            updateLocation(map);
        }

        function updateLocation(map) {
            navigator.geolocation.getCurrentPosition(
                function (pos) {
                    setMapToCurrentLocation(map, pos);
                    update_db(pos);
                },
                function (err) {
                },
                {
                    enableHighAccuracy: true,
                    timeout: 30000
                }
            );
        }

        function setMapToCurrentLocation(map, pos) {
            var myLatLon = L.latLng(pos.coords.latitude, pos.coords.longitude);
            map.flyTo(myLatLon, 16);

            locationMarker = L.marker(myLatLon).addTo(map);

            circle = L.circle(myLatLon, {
                color: 'blue',
                fillColor: 'blue',
                fillOpacity: 0.2,
                radius: pos.coords.accuracy
            }).addTo(map);
        }

        function update_db(pos) {
            let locString = pos.coords.longitude + ", " + pos.coords.latitude;

            $.ajax({
                type: "POST",
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')
                },
                url: HOST + "/updatedb/",
                data: {
                    point: locString
                }
            });
        }

    </script>

    <style>
        #nav {
            background-color: #333;
        }

        .leaflet-container {
            width:  100%;
            height: 83vh;
        }
    </style>

    <ul id="nav">
        <li><a href="{% url 'index' %}">Location Based Services Application</a></li>
        <li><a href="{% url 'index' %}">home</a></li>
        <li><a href="{% url 'logout' %}">logout</a></li>
    </ul>

    {% leaflet_map "lbs_app_worldborder" callback="window.map_init_basic" %}

{% endblock %}
