{% extends 'lbs_app/base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <h1>Register</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <label for="uname">Username</label><br>
        <input type="text" id="uname" name="uname"><br>
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="password">Confirm Password</label><br>
        <input type="password" id="password" name="password"><br><br>
        <button type="submit">Register</button>
    </form>
{% endblock %}